logs/
node_modules/
developing_data/
dist/
public/
env/
credentials/
exports/
uploads/
walletStorage/
creadential/

.DS_Store

.env

creadential/

*.zip

package-lock.json
yarn.lock

src/TeServer.ts

tmpServer.ts